@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

@tailwind base;

@tailwind components;

@tailwind utilities;

body {
  font-family: Inter;
}
.active-icon path {
  fill: #f526d6; /* Or any color you wish for the active state */
}

.PhoneInputInput {
  display: flex;
  padding: 0px 20px 0px 10px;
  align-items: center;
  gap: 15px;
  flex: 1 0 0;
  background-color: #292932;
  color: white;
  height: 48px !important;
  border-radius: 5px;
}
.PhoneInputCountry {
  display: flex;
  /* background-color: #1C1C24;
 padding: 15px 20px 16px 20px;  */
  align-items: center;
  gap: 15px;
  background: #1c1c24;
  padding: 0px 10px;
  border-radius: 5px;
}
.PhoneInputCountrySelectArrow {
  border-color: white !important;
  border-width: 2px;
}
.PhoneInputCountryIconImg {
  color: white !important;
}

::-webkit-scrollbar {
  width: 8px; /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
  /* background: #292932;  */
}

::-webkit-scrollbar-thumb {
  background-color: #777e90; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  /* border: 3px solid #292932; */
}

.ag-theme-quartz {
  --ag-background-color: transparent !important;
  --ag-border-color: transparent !important;
  --ag-color: '#fff' !important
;
}

.ag-theme-quartz,
.ag-theme-quartz-dark {
  --ag-foreground-color: #fff !important;
  /* --ag-background-color: rgb(249, 245, 227) !important; */
  --ag-header-foreground-color: #fff !important;
  /* --ag-header-background-color: rgb(209, 64, 129) !important; */
  --ag-odd-row-background-color: rgb(0, 0, 0, 0.03) !important;
  /* --ag-header-column-resize-handle-color: rgb(126, 46, 132) !important; */
  /* --ag-grid-size: 12px !important; */
  /* --ag-list-item-height: 40px !important; */
  /* --ag-font-size: 17px !important; */
  /* --ag-font-family: monospace !important; */
}

.ag-row .ag-cell {
  display: flex !important;
  /* justify-content: center !important; */
  align-items: center !important;
}
/* .ag-cell{
  line-height: 50px !important;
  height: 100% !important;
  vertical-align: middle !important;
} */

.css-2ehmn7-MuiInputBase-root-MuiOutlinedInput-root {
  padding: 0px 6px !important;
}

.bChange .MuiTableCell-root {
  border-bottom: 0px solid red !important;
  padding: 10px 0px !important;
}

.no-input-arrow::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
}

.no-input-arrow {
  -moz-appearance: textfield !important;
}
.font11RB {
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.font12R {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.font13R {
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.font14R {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.font12RB {
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.font13RN {
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.font10R {
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.font10RB {
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.font13RB {
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.font14RB {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.font16RB {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.font12400 {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.font11SB {
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.font12SB {
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.font13SB {
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.font14SN {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.font14SB {
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.font14700 {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.font16SB {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.font20SN {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.font18SB {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.font20SB {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.font22SB {
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.font24SB {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.font24SMB {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.font24700 {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.font12SMB {
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.font16SMB {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.font18SMB {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.font24SMB {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.font30SMB {
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.market-table span {
  color: #fff !important;
}
.market-table span:hover {
  color: #fff !important;
}

/* pagination css start  */
.pagination {
  margin-top: 20px;
}
.pagination ul {
  justify-content: end;
}
.pagination ul li button {
  background-color: #1c1c24;
  color: #777e90;
  border: 1px solid #222;
  border-radius: 8px;
}
.pagination ul li div {
  background-color: #1c1c24;
  color: #fff;
  border: 1px solid #48546d;
  min-width: 32px;
  height: 32px;
  border-radius: 8px;
}
.pagination ul li button.Mui-selected {
  background-color: #267ff5;
  color: #fff;
}
.pagination ul li:first-child button,
.pagination ul li:last-child button {
  color: #fff;
}
/* pagination css end  */

.input-placeholder {
  font-size: 13px;
  font-weight: 400;
  color: #777e90;
}

.input-placeholder:focus {
  outline: none;
  border: none;
}

.input-placeholder::placeholder {
  color: #777e90;
  font-size: 13px;
  font-weight: 400;
}
.input-placeholder-hide {
  font-size: 14px;
  font-weight: 500;
  color: #777e90;
}
.input-placeholder-hide:focus {
  outline: none;
  border: none;
}
.order-table thead tr th {
  font-size: 11px;
  padding-bottom: 10px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #1c1c24;
}
.order-table tbody tr:first-child td {
  padding-top: 18px !important;
}
.order-table tbody tr td {
  padding: 0px;
  padding-bottom: 12px;
  font-size: 11px;
}

.open-order-table thead tr th {
  font-size: 11px;
  padding-bottom: 10px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #1c1c24;
}
.open-order-table tbody tr td {
  padding-left: 0px;
  padding-bottom: 12px;
  font-size: 11px;
}

.permanently-delete-modal {
  border-radius: 5px;
  background: rgba(250, 108, 76, 0.2);
  padding: 20px;
  gap: 20px;
  width:470px;
  backdrop-filter: blur(17px);
}
.security-modal-screen {
  width: 467px;
  /* flex: 1 0 0; */
  border-radius: 10px;
  background: var(--Dark-Secondary, #1c1c24);
  box-shadow:
    0px 30px 60px 0px rgba(1, 2, 9, 0.2),
    0px 16px 30px 0px rgba(33, 25, 25, 0.17);
}

.otp-input {
  border: 1px solid transparent;
  outline: none;
}

.otp-input:focus {
  border: 1px solid #267ff5;
}

.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.75);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

@media (max-width: 768px) {
  .permanently-delete-modal {
    width: 70%;
  }
  .security-modal-screen {
    width: 70%;
  }
}
@media (max-width: 520px) {
  .permanently-delete-modal {
    width: 80%;
  }
  .security-modal-screen {
    width: 90%;
  }
}

.referral-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media screen and (min-width: 1293px) {
  .referral-text {
    overflow: visible;
    text-overflow: clip;
  }
}
@media screen and (min-width: 768px) and (max-width: 1292px) {
  .referral-text {
    max-width: 100px;
  }
}
.apexcharts-tooltip,
.apexcharts-menu {
  background: #ffffff;
  color: #252930;
}

/* ========= Date Range Picker Customization ========= */

.transactions-date-range-picker .rs-picker-toggle-textbox,
.transactions-date-range-picker .rs-picker-toggle.rs-btn-default {
  background: none !important;
  color: #777e90 !important;
  border-radius: 0;
  border: none !important;
}

.transactions-date-range-picker:hover,
.transactions-date-range-picker .rs-picker-toggle.rs-btn-default:hover {
  border: none !important;
}

@media screen and (min-width: 320px) and (max-width: 820px) {
  .rs-picker-daterange-panel {
    min-width: auto !important;
  }
  .rs-picker-daterange-calendar-group {
    min-width: auto !important;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
  }
}

.rs-input {
  background-color: transparent !important;
}

.rs-input-group {
  border: none !important;
}

.rs-picker-toggle-value {
  color: #777e90 !important;
  font-size: 12px;
}

.rs-picker-daterange-header {
  display: none;
}

.rs-picker-menu {
  background-color: #292932 !important;
  border-radius: 7px;
}

.rs-btn-xs {
  font-size: 16px !important;
  color: #ffffff !important;
}
.rs-picker-daterange-menu .rs-calendar:first-child {
  border: none !important;
}
.rs-picker-toolbar {
  border: none !important;
}
.rs-picker-menu .rs-calendar-body {
  padding-left: 5px;
  padding-right: 3px;
  padding-bottom: 0 !important;
}
.rs-calendar-table-cell-content {
  border-radius: 0 !important;
  color: #ffffff !important;
}
.rs-picker-menu .rs-picker-toolbar {
  display: flex;
  justify-content: end !important;
  align-items: center !important;
  padding-top: 0 !important;
}
.rs-calendar-header-has-month:not(.rs-calendar-header-has-time)
  .rs-calendar-header-backward {
  background: no-repeat url('../../public/assets/images/prev_datepicker.svg');
  height: 25px;
  width: 25px;
}
.rs-calendar-header-has-month:not(.rs-calendar-header-has-time)
  .rs-calendar-header-forward {
  background: no-repeat url('../../public/assets/images/next_datepicker.svg');
  height: 25px;
  width: 25px;
}

.rs-btn-icon > .rs-icon {
  opacity: 0;
}
.rs-calendar-body .rs-calendar-table-cell-in-range:before {
  background-color: #44444f;
}
.rs-calendar-table-cell-selected .rs-calendar-table-cell-content {
  background-color: #267ff5 !important;
}

.rs-calendar-month-dropdown-row:not(:last-child) {
  border-bottom: 1px dashed #292932 !important;
}
.rs-calendar-month-dropdown-row {
  background-color: #292932 !important;
  color: #ffffff;
}
.rs-calendar-btn-close {
  background-color: #292932 !important;
  color: #ffffff;
}
.rs-btn-subtle:focus,
.rs-btn-subtle:hover {
  background-color: #292932 !important;
}

.rs-picker-toolbar-right > .rs-btn {
  background-color: #f59d31 !important;
  width: 4.625rem;
  height: 1.75rem;
  border-radius: 5px !important;
  position: relative;
}
.rs-picker-toolbar-right > .rs-btn::before {
  content: 'Save';
  color: #ffffff;
  position: absolute;
  background-color: #f59d31;
}

/* trade-history-table */
.trade-history-table thead tr th {
  padding-top: 0px;
  padding-bottom: 0px;
  border: unset;
}
.trade-history-table thead tr th:first-child {
  padding-left: 0px;
}
.trade-history-table thead tr th:last-child {
  padding-right: 0px;
}

/* Add these styles to customize the next and prev buttons */
.slick-arrow.slick-prev,
.slick-arrow.slick-prev:hover {
  background-color: white;
  color: white;
  height: 17px;
  width: 17px;
  border-radius: 50%;
  left: 0;
  z-index: 99;
}

.slick-arrow.slick-next,
.slick-arrow.slick-next:hover {
  background-color: white;
  color: white;
  height: 17px;
  width: 17px;
  border-radius: 50%;
  right: 0;
  z-index: 99;
}

.slick-arrow.slick-next:before {
  position: relative;
  color: #292932;
  left: -2px;
  top: -1px;
}
.slick-arrow.slick-prev:before {
  position: relative;
  color: #292932;
  left: -2px;
  top: -1px;
}

.slick-arrow.slick-prev:hover:before,
.slick-arrow.slick-next:hover:before {
  opacity: 0.75 !important;
}

.react-calendar {
  background-color: #44444f !important;
  border: none !important;
  border-radius: 5px;
  font-family: Arial, sans-serif;
  width: 100% !important;
  padding: 5px !important;
}

.react-calendar__tile {
  color: black; 
  padding:10px !important;
}

.react-calendar__tile--now {
  background: none !important;
  color: none !important;
}

.react-calendar__tile--active {
  background: #292932 !important;
  border-radius: 5px;
  color: white;
}

.react-calendar__navigation {
  color: black;
  background: #292932 !important;
  border-radius: 5px !important;
}

.react-calendar__decade-view__years__year {
  color: white;
}

.react-calendar__navigation button {
  background-color: #292932 !important; 
  border-radius: 5px; 
  color: black; 
}

.react-calendar__navigation button:hover {
  background: #292932 !important;
  border-radius: 5px;
  color: white;
}

@media screen and (max-width: 768px) {
}

.sidebar-ui li a:hover ,
.sidebar-ui li a:focus ,
.sidebar-ui li a:active {
  text-decoration: none;
}
